<div
  class="wrapper flex justify-content-center align-items-center h-full w-full"
>
  <div class="inner-wrapper w-full h-full">
    <p-card styleClass="card w-full h-full" class="no-padding h-full">
      <div style="max-height: 60px" class="flex-grow-1"></div>
      <img src="assets/uhr-logo.svg" id="logo" />
      <div style="max-height: 80px" class="flex-grow-1"></div>
      <form>
        <div class="text-3xl font-semibold">Sign in</div>
        <div class="form-fields">
          <div class="field mb-4 text-teal-600">
            <label for="email" class="text-sm tight text-xs"
              >E-mail<span class="ml-1 text-red-600">*</span></label
            >
            <input pInputText id="email" name="email" class="w-full" />
          </div>
          <div class="field text-teal-600">
            <label for="password" class="text-sm tight text-xs"
              >Password<span class="ml-1 text-red-600">*</span></label
            >
            <input
              pInputText
              type="password"
              id="password"
              name="Password"
              class="w-full"
            />
          </div>
          <div class="field text-teal-600">
            <p-checkbox
              id="remember"
              name="remember"
              label="Remember my Login ID with this computer"
              [binary]="true"
            ></p-checkbox>
          </div>
          <p-button
            [link]="true"
            label="Reset password"
            size="small"
          ></p-button>
        </div>
        <p-button label="Log In" class="w-full" styleClass="w-full"></p-button>
        <div
          class="text-center mt-4 mb-5 text-sm"
          style="color: var(--content-neutral)"
        >
          or log in with:
        </div>
        <div class="grid">
          <div class="col">
            <p-button
              [outlined]="true"
              styleClass="w-full token-login"
              severity="secondary"
            >
              <div class="flex align-items-center">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M11.5023 11.5H2.00049V2H11.5023V11.5Z"
                    fill="#F1511B"
                  />
                  <path
                    d="M22.0042 11.5H12.5024V2H22.0042V11.5Z"
                    fill="#80CC28"
                  />
                  <path
                    d="M11.5023 22H2.00049V12.5H11.5023V22Z"
                    fill="#00ADEF"
                  />
                  <path
                    d="M22.0042 22H12.5024V12.5H22.0042V22Z"
                    fill="#FBBC09"
                  />
                </svg>
                <span class="p-button-label text-sm ml-2">Microsoft</span>
              </div>
            </p-button>
          </div>
          <div class="col">
            <p-button
              [outlined]="true"
              styleClass="w-full token-login"
              severity="secondary"
            >
              <div class="flex align-items-center">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M21.8055 10.0415H21V10H12V14H17.6515C16.827 16.3285 14.6115 18 12 18C8.6865 18 6 15.3135 6 12C6 8.6865 8.6865 6 12 6C13.5295 6 14.921 6.577 15.9805 7.5195L18.809 4.691C17.023 3.0265 14.634 2 12 2C6.4775 2 2 6.4775 2 12C2 17.5225 6.4775 22 12 22C17.5225 22 22 17.5225 22 12C22 11.3295 21.931 10.675 21.8055 10.0415Z"
                    fill="#FFC107"
                  />
                  <path
                    d="M3.15308 7.3455L6.43858 9.755C7.32758 7.554 9.48058 6 12.0001 6C13.5296 6 14.9211 6.577 15.9806 7.5195L18.8091 4.691C17.0231 3.0265 14.6341 2 12.0001 2C8.15908 2 4.82808 4.1685 3.15308 7.3455Z"
                    fill="#FF3D00"
                  />
                  <path
                    d="M11.9999 22.0001C14.5829 22.0001 16.9299 21.0116 18.7044 19.4041L15.6094 16.7851C14.6054 17.5456 13.3574 18.0001 11.9999 18.0001C9.39891 18.0001 7.19041 16.3416 6.35841 14.0271L3.09741 16.5396C4.75241 19.7781 8.11341 22.0001 11.9999 22.0001Z"
                    fill="#4CAF50"
                  />
                  <path
                    d="M21.8055 10.0415H21V10H12V14H17.6515C17.2555 15.1185 16.536 16.083 15.608 16.7855L15.6095 16.7845L18.7045 19.4035C18.4855 19.6025 22 17 22 12C22 11.3295 21.931 10.675 21.8055 10.0415Z"
                    fill="#1976D2"
                  />
                </svg>
                <span class="p-button-label text-sm ml-2">Google</span>
              </div>
            </p-button>
          </div>
        </div>
      </form>
      <div style="max-height: 100px" class="h-full"></div>
    </p-card>
  </div>
</div>
