p-card {

  .p-card {
    border-radius: #{$border-radius-rounded-2xl}px;
  }

  &.no-padding {

    .p-card-body,
    .p-card-content {
      padding: 0;
    }
  }
}

.field {
  label {
    .tight {
      margin-bottom: #{$space-sizes-padding-small}px;
      color: var(--text-50);
    }
  }
}

.text-0 {
  color: var(--text-0) !important;
}

.text-50 {
  color: var(--text-50) !important;
}

.text-100 {
  color: var(--text-100) !important;
}
