@import './../_figma_variables';
@import './_variables';
@import './_fonts';
@import '../theme-base/_components';
@import './_extensions';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  overflow: hidden;
  background-color: $alias-colors-brand-2-background-background-2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
