@import './../_figma_variables';
@import './_variables';
@import './_fonts';
@import '../theme-base/_components';
@import './_extensions';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  background-color: var(--surface-50);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

* {
  transition: background-color 0.5s ease, background 0.5s ease, fill 0.5s ease,
    color 0.1s ease;
}
